@import "../app.scss";

.sidebar {
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;

  overflow: hidden;
  @include mobile {
    z-index: 99;
  }
  .bg {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background: white;

    @include mobile {
      width: 50%;
    }

    .Links {
      z-index: 99;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      color: #0c0c1d;
      background: white;
      a {
        font-size: 40px;
        z-index: 99;

        @include mobile {
          font-size: 30px;
        }
      }
    }
  }

  button {
    z-index: 99;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 25px;
    left: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
